.resultContainer {
  text-align: center;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.successBlock {
  text-align: center;
  padding: 20px;
}
.successMsg {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 20px;
}
.metrics {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}
.failBlock {
  text-align: center;
  padding: 20px;
}
.failMsg {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 20px;
}
